$xsmall: 386px;
$small: 780px;
$medium: 1050px;
.dos {
  width: 100%;
  text-align: center;
  list-style-type: none;
  font-size: 23px;
  background: #df89b5;

  transition: 0.3s ease all;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.dos .wrap {
  transition: 0.4s ease all;
}

.tres {
  width: 100%;
  display: inline-block;
}

nav li {
  display: inline-flex;
}
.tres ul {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
}

.tres a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.2s ease all;
  @media screen and (max-width: $small) {
    font-size: 14px;
  }
}

nav li :hover {
  background-color: #aed6f5;
}
.activeNav {
  position: fixed;
  top: 0;
  z-index: 100;
}
