.cartCard-container {
  height: 500px;
  width: 200px;
  padding: 10px;
  z-index: 10;
  position: absolute;
  right: 27px;
  top: 31px;
  box-shadow: 10px 10px 62px 21px rgba(247, 198, 247, 1);
  border-radius: 25px;
}
