$xsmall: 380px;
$small: 786px;
$medium: 1050px;

.main_container {
  text-align: left;
  padding-left: 10px;
  @media screen and (max-width: $small) {
    text-align: center;
    padding-left: 0;
  }
}

/*ESTILOS DE PRODUCTOS*/

.main {
  padding: 10px;
  /*background-color: #ffffff;*/
  opacity: 1;
}

.main-tittle {
  font-size: 30px;
  color: #df89b5;
  text-align: center;
  letter-spacing: 2px;
}

.container-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  margin-bottom: 100px;
  @media screen and (max-width: $small) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.product {
  /*border: 1px solid #d877e0;*/
  padding: 20px;
  padding-right: 20px;
  border-radius: 15px;
  @media screen and (max-width: $small) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.product__icon {
  color: #a351e6;
  cursor: pointer;
}

.product__img {
  width: 86%;
  height: 93%;
  z-index: -10;
  border-radius: 10px;
}

.product:before {
  content: "New";
  background-color: rgba(228, 125, 178, 0.664);
  padding: 10px 20px;
  width: 50px;
  position: absolute;
  transform: rotate(0deg);
  color: white;
  z-index: 10;
  font-size: 25px;
  letter-spacing: 2px;
  @media screen and (max-width: $small) {
    left: 56px;
  }
  @media screen and (max-width: $xsmall) {
    left: 40px;
  }
}

.product__tittle {
  text-align: center;
  color: #a351e6;
  font: normal normal 400 16px "Futura Std", sans-serif;
}

.product__price {
  color: #9922e9;
  font: normal normal 400 16px "Futura Std", sans-serif;
  line-height: 30px;
  text-align: center;
}
