.container-singIn {
  height: 39.4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  opacity: 1;
  background-image: radial-gradient(#fa34f08e 1.05px, transparent 1.05px),
    radial-gradient(#fa34f08e 1.05px, #ffffff 1.05px);
  background-size: 42px 42px;
  background-position: 0 0, 21px 21px;
  margin-bottom: 70px;
  overflow: hidden;
  input {
    width: 25%;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: 1px solid #fa34f08e;
    &:focus {
      outline: none;
    }
  }
}
