$xsmall: 386px;
$small: 780px;
$medium: 1050px;
.header-main {
  position: relative;
}
header {
  background-color: linear-gradient(
    to top,
    rgba(223, 137, 181, 0.349) 0%,
    rgba(191, 217, 254, 0.212) 100%
  );
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
}

.head-container {
  padding: 0;
  height: 100%;
  flex-grow: 1;
  color: #df89b5;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: $small) {
    flex-direction: row-reverse;
    justify-content: space-between;

    padding: 10px 20px 10px 20px;
    font-size: 16px;
  }

  &_nav {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    font-size: 20px;
    @media screen and (max-width: $small) {
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-evenly;
    }
    a {
      text-decoration: none;
      color: #df89b5;

      text-align: center;
      @media screen and (max-width: $small) {
        text-align: right;
      }
    }
    :hover {
      text-decoration: underline;
    }
  }
  &_cart {
    display: flex;
    cursor: pointer;
  }
  &_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    letter-spacing: 10px;
    @media screen and (max-width: $small) {
      font-size: 18px;
      letter-spacing: 0px;
    }
    &_img {
      width: 150px;
      height: 150px;
      margin-right: 5%;
      border-radius: 100%;
      @media screen and (max-width: $small) {
        width: 100px;
        height: 100px;
      }
    }
  }
}
.responsive__menu {
  align-items: end;
  display: flex;
  flex-direction: column;
  padding-right: 5px;
}
